  /* Grammar */
  .hiddenword{
    color:red;
      opacity: 0;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
            user-select: none;}


.description{ 
text-align: left;
font-size: 1.5rem;
background-color: var(--blue);
color: white;

}

#momotaro { 
text-align: left;
font-size: 1.5rem;
}

#translation { 
font-size:1.5rem;
text-align: left;
padding:0.5rem;}