.katakana-container {
    background-color: #f0f0ee4d;
    width: 150px;
    box-shadow: 3px 5px rgb(187, 184, 184);
    margin: auto;
}

.katakana-question {
    font-size: 5rem;
    color: var(--blue);
    padding: 10px;
}

.katakana-introduction {
    background-color: var(--yellow);
    color: white;
    width: 100%;
    padding: 15px;
}

.katakana-header {
    font-weight: 900;
    text-decoration: underline;
}

#katakana-button {
    border: 3px solid var(--blue);
    color: var(--blue);
    margin: 5px;
    background: none;
    cursor: pointer;
    line-height: 1.5;
    font-size: 1rem;
    font: 700 'Roboto Slab', sans-serif;
    padding: 0.5em 1em;
    letter-spacing: 0.05rem;
}

#katakana-button:focus {
    outline: 0;
    background-color: rgb(212, 212, 212);
}

#katakana-button:hover {
    outline: 0;
    background-color: rgb(223, 219, 219);
}