  /* Grammar */
  
  .hiddenword {
      font-size: 1.5rem;
      color: red;
      opacity: 0;
  }
  
  #momotaro {
      text-align: left;
      font-size: 1.5rem;
      padding: 20px;
  }
  
  #translation {
      font-size: 1.5rem;
      text-align: left;
      padding: 0.5rem;
  }
  
  .momotaro-pic {
      width: 300px;
  }