.quote-box {
    background-color: #b3b3b31A;
    margin: auto;
    box-shadow: 5px 5px 5px #b3b3b3;
    margin: 10px 20px 0px 20px;
}

.japanese-quote {
    font-size: 2rem;
    padding: 10px
}

.english-quote {
    color: var(--red);
    font-size: 1.5rem;
    padding: 5px;
}