.menu {
	border:0px; 
	font-size: 200%;
  	overflow: hidden;}

.subpagelink {
	height: 6rem; 
	float: left;} 

.subpagelinkword {
	position: absolute;
	text-align: left;
	color : black;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);	
}


.menu .menu-col:hover { 
		-webkit-filter: brightness(0.95); 
		filter: brightness(0.95);
		transform: scale(1.03); 
	    transition: all 0.5s ;
}
	  
.simple-introduction{
	height: 60vh;
	overflow:hidden;
	background-color: #f7f6e4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simple-introduction img, .homepage-japan-vocab img  { 
	width:30vw;
}

.homepage-japan-vocab {
	height: 60vh;
	overflow:hidden;
	background-color: #92aec4;
	display: flex;
	justify-content: center;
	align-items: center;

}




/* banner  */

.bannertext {
    position: absolute; 
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
    color: var(--blue);
  }
  
  .bannerContainer { 
    position: relative; 
    height: auto;
  }
 
