.inputElement { 
font-size:1.2rem;
margin: 1rem;
text-align: left;
justify-content: left;
}

.inputElement:focus{ 
background-color: gainsboro;
}

.Invalid { 
    background-color: salmon;
}

label{
font-size: 1.25rem;
padding: 1.5rem;
align-self: left;
}

form{ 
margin: auto;
width: 800px;
display:grid;
grid-template-columns:100%;
grid-template-rows: 25% 25% 25% 25%; 
align-items: center;
border:5px solid var(--blue); 
}

#message{
    font-size: 1.4rem;
    color: var(--red);
    font-weight: 700;


}
