.col {
    padding: 0px;
}

.row {
    margin: 0px;
}

.navBar {
    width: 100%;
}

.container-fluid {
    padding: 0;
}

.container {
    padding: 0;
}

.homepage-brand {
    text-shadow: 2px 1px 1px rgb(121, 122, 122);
    font-family: 'Lobster', cursive;
}

.btn {
    margin: 3px 10px;
}

.title-bar {
    padding: 10px;
    width: 100%;
    text-align: left;
    color: white;
}

.bg-blue {
    background: var(--blue);
}

.bg-red {
    background: var(--red);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-yellow-500 {
    background: var(--yellow-500);
}

.bg-yellow-100 {
    background: var(--yellow-100);
}

.bg-blue-100 {
    background: var(--blue-100);
}

.content-wrapper {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}