@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;900&display=swap');
*{
	box-sizing: border-box;
	margin:0;
}

:root { 
--blue:#496D89; 
--yellow:#ffcc00;
--red:#aa5939;
}

body {
  max-width: 1280px;
  min-width: fit-content;
  font-family:'M PLUS Rounded 1c', sans-serif ;
  text-align: center;
  align-items: center;
  margin:0;
}

button {
	font-family:'M PLUS Rounded 1c', sans-serif;
	margin: 0px 0px 10px 10px;
	color: var(--blue);
	position: relative;
	overflow: hidden;
	z-index: 1;
	appearance: none;
	background-color: transparent;
	border: 2px solid var(--blue);
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	padding: 1rem 2rem;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	}
	
button::after {
	  content: '';
	  position: absolute;
	  display: block;
	  top: 0;
	  left: 50%;
	  transform: translateX(-50%);
	  width: 0;
	  height: 100%;
	  background: var(--blue);
	  z-index: -1;
	}
	
button:hover {
	  color: #fff;}
	  
button:hover::after {
		width: 110%;
	}
   

a { text-decoration:none; 
	color: inherit;}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}	
