/* Test your knowledge */

.introduction { 
    background-color:#551800;
   } 
  
  h5.introduction { 
  color: white; 
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  }

  img.introduction {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
  }
  
  #Question {
   font-size: 1.5rem; 
   text-align: center;
   padding: 1.5rem;
   background-color:black;
   color: white;
   } 
   
  .Answer {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
   font-size: 1.5rem; 
   text-align: center;
   visibility: hidden;
   color: black;
   } 
  
 
