.quotebox{ 
background-color:#b3b3b31A;
width: 800px;
margin: auto;
box-shadow:5px 5px 5px #b3b3b3;
}

.japanesequote {
font-size:2rem;
padding:10px
}

.englishquote {
color:var(--red);
font-size:1.5rem;
padding:5px;
}


